numpydoc
six # missing dependency for sphinx-fortran
sphinx >=6.0.0
sphinx_rtd_theme
sphinx-copybutton
sphinx_design
sphinx-fortran
sphinx-multitoc-numbering
sphinxcontrib-googleanalytics
sphinxcontrib.bibtex
sphinxcontrib-moderncmakedomain
